.dub
docs.json
__dummy.html
docs/
/libmodpm
liblibmodpm.so
liblibmodpm.dylib
liblibmodpm.dll
liblibmodpm.a
liblibmodpm.lib
liblibmodpm-test-*
# directory name might be taken from dub.json#name
libmodpm-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
